doctype html
html(lang="fr")
  head
    title Blogger
    link(href="/vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="/vendor/bootstrap/dist/css/bootstrap-theme.css", rel="stylesheet")
    link(href="/admin/css/main.css", rel="stylesheet")
  body
    include nav
    .container
      .row
        .col-md-12
          block content
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
