extends ../layout

block content
  h1 Liste des articles
  table.table
    tr
      th Title
      th Date
      th Action
     each article in articles
       tr
         td
           a(href="/admin/blog/articles/#{article.id}")= article.title
         td= dateFormat(article.created, "dd/mm/yyyy")
         td
           .btn-group
             a.btn.btn-info.btn-sm(href="/admin/blog/articles/update/#{article.id}") Editer 
             a.btn.btn-default.btn-sm(href="/admin/blog/articles/delete/#{article.id}") Supprimer